meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width,initial-scale=1")

title #{pageTitle} | #{site.name}
meta(name="keywords" content=pageKeywords)
meta(name="description" content=site.description)

block css
  link(rel="stylesheet" href="css/style.css")

block js
  script(type="text/javascript" src="js/script.js" async)
  
//- OGP
meta(property="og:title" content=pageTitle + ' | ' + site.name)
meta(property="og:type" content="website")
meta(property="og:url" content=site.rootUrl + pageUrl)
meta(property="og:image" content=site.ogImage)
meta(property="og:site_name" content=site.name)
meta(property="og:description" content=site.description)
meta(property="og:keywords" content=pageKeywords)
meta(property="fb:app_id" content=site.fbAppId)

//- /OGP
